<div class="dialogo">
  <h1 mat-dialog-title>Registrate</h1>
  <mat-dialog-content>
    <form [formGroup]="crearUser" class="row">
      <mat-form-field appearance="outline">
        <mat-label>Ingrese tu email</mat-label>
        <input
          matInput
          type="email"
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Ingresa tu Nombre" required formControlName="nombres">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Ingresa tu Apellido" required formControlName="apellidos">
      </mat-form-field>
      <div  class="div">
        <input type="file" (change)="FotoEvento($event)" class="input">
        <mat-progress-bar *ngIf="cargando == true" mode="indeterminate" class="file"></mat-progress-bar>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <textarea matInput placeholder="Ingrese su Direccion" required formControlName="direccion"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>D.N.I</mat-label>
        <input matInput type="number" placeholder="Ingresa tu dni" type="number" required formControlName="DNI">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Telefono</mat-label>
        <span matPrefix>+51 &nbsp;</span>
        <input type="number"  matInput placeholder="555-555-1234" formControlName="tel">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"

        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="register()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >email</mat-icon
          >
          registrar
        </button>
      </mat-card-actions>
    </form>
  </mat-dialog-content>
</div>
