<div class="centrar" *ngIf="!Usuario">
  <mat-spinner color="primary"></mat-spinner>
</div>
<div class="row" *ngIf="Usuario">
  <mat-card class="example-card">
    <mat-card-header>
        <img
          mat-card-avatar
          class="example-header-image"
          src="{{ Usuario?.image }}"
          alt="Photo of a Shiba Inu"
        />
      <mat-card-title>{{ Usuario?.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ Usuario?.apellidos }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ Usuario?.image }}" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        direccion: {{Usuario?.direccion}}
      </p>
      <p>
        DNI: {{Usuario?.DNI}}
      </p>
      <p>telefono: {{Usuario?.telefono}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Editar</button>
    </mat-card-actions>
  </mat-card>
  <app-my-order></app-my-order>
</div>

