<div class="example-card" *ngIf="Productos.length == 0">
  <mat-card>
    <mat-card-title> No existen Productos agregados </mat-card-title>
  </mat-card>
</div>

<div *ngIf="Productos.length > 0">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <div class="example-card">
        <mat-card *ngFor="let product of Productos">
          <mat-card-header>
            <mat-card-title>{{ product.nombre }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-lg-image
            src="{{ product.image }}"
            alt="{{ product.nombre }}"
          />
          <mat-card-content>
            <p>
              {{ product.descripcion }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirma tu pedido</ng-template>
      <mat-card class="hola">
        <mat-card-title>Confirmacion de Pedido</mat-card-title>
        <mat-dialog-content>
          <p>Porfavor confirme su Pedido</p>
        </mat-dialog-content>
      </mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperNext (click)="comprar()">
          Confirmar
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Exito</ng-template>
      <mat-card *ngIf="datosPedido">
        <mat-card-title>Pedido Hecho con exito</mat-card-title>
        <mat-card-subtitle>Hola {{usuario.nombre}}</mat-card-subtitle>
        <mat-dialog-content>
          <p>Gracias por tu preferencia tu pedido se registro con exito</p>
          <p>se te registro un total de {{addPedidos.length}} pedidos el cual el
            precio registrado es de {{datosPedido.precio}}
          </p>
          <!-- <p>
            en unos instantes se procedera a comunicarte al numero +51-{{pedido.celular}}
            para poder coordinar el envio y confirmar su direccion {{pedido.direccion}} y su Referencia
            {{pedido.refrencia}}.
          </p> -->
          <p>Gracias por tu preferencia.......</p>
        </mat-dialog-content>
      </mat-card>
      <div>
        <button mat-button (click)="Productos = []">OK</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
