.example-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;

}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

mat-card-content {
  margin: 20px;
}

.hola{
  margin-left:20%;
  text-align: center;
}
