<mat-card class="fondo">
  <mat-card-header>
    <mat-card-title> <span class="mat-display-1">Bienvenido A la tienda online de Accesorios para motos</span> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-h2">{{tienda?.descripcion}}
    </p >
    <p class="mat-h2">Ubicanos en la {{tienda?.direccion}} o en nuestras siguientes redes sociales</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button href="{{tienda?.facebook}}" target="_blank"><mat-icon>facebook</mat-icon></a>
    <a mat-icon-button href="{{tienda?.email}}" target="_blank"><mat-icon>email</mat-icon></a>
  </mat-card-actions>
</mat-card>
<app-cards></app-cards>

