<ngx-spinner
  bdColor="rgba(9,9,5,0.8)"
  size="medium"
  color="#184eae"
  type = "square-jelly-box"
>
  <p style="font-size: 20px; color: white">Cargando Productos...</p>
</ngx-spinner>

<div *ngIf="productos">
  <h1 class="example-card">Productos</h1>
  <mat-form-field class="example-card" appearance="outline">
    <mat-label>Buscar Por Nombre</mat-label>
    <input matInput type="text" [(ngModel)]="value" (keyup.enter)="buscador()">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="example-card">
    <mat-card [class.mat-elevation-z20]="true" *ngFor="let p of productos">
      <mat-card-header class="example-card">
        <mat-card-title class="example-card">{{p.nombre}}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-lg-image
        src="{{p?.image}}"
        alt="{{p.nombre}}"
      />
      <mat-card-content>
        <p>{{p?.stock}}</p>
        <p>
          {{p.descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="detalle(p.id)"  mat-raised-button color="primary">
          Ver
        </button>
        <button mat-raised-button color="primary" (click)="Comprar(p)">
          Comprar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

